/* this is for the posts index page  */

.card-container,
.head-container {
  display: flex;
  margin: 0 auto;
  width: 980px;
  flex-wrap: wrap;
}

.head-container {
  justify-content: space-between;
}

.card {
  margin: 10px;
  position: relative;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-button {
  text-align: center;
}

/* When the browser is at most 600px and above */
@media screen and (max-width: 600px) {
  .card-container,
  .head-container {
    width: 300px;
  }
}

/* this is the end of the posts index page  */

/* this is the beginning of the post show page */

.show-container, 
.form-container {
  margin: 0 auto;
  width: 980px;
}

.show-header {
  display: flex;
  justify-content: space-between;
}

.show-right {
  display: flex;
  justify-content: space-around;
}

/* this is the end of the post show page  */


.form-title-container {
  display: flex;
  justify-content: space-between;
}

.form-title {
  width: 600px;
}

.nav-item {
  display: flex;
}

/* FORM RADIO SECTION BEGIN */
/* FORM RADIO SECTION BEGIN */
/* FORM RADIO SECTION BEGIN */


.premium-radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.premium-form-label {
  display: flex;
}

.radio {
  display: flex;
  padding: 10px;
}

.radio-label {
  padding: 10px;
}

/* FORM RADIO SECTION END */
/* FORM RADIO SECTION END */
/* FORM RADIO SECTION END */